.user {
    background-color: #ddd;
    border-radius: 15px;
    border: 1px solid #ddd;
    float: left;
    margin: 50px 0 0 50px;
    min-height: 200px;
    width: calc(50% - 102px);
}

.user img {
    border-radius: 180px;
    float: left;
    padding: 25px;
    width: 128px;
}

.user .train-data {
    float: left;
    height: 100px;
    margin-top: 25px;
    width: calc(100% - 203px);
}

.user .status {
    float: left;
    font-family: monospace;
    line-height: 1.3;
    width: calc(100% - 203px);
}

.user .status span {
    color: green;
}
